language: android

jdk: oraclejdk8

sudo: false

android:
  components:
  - platform-tools
  - tools
  - build-tools-25.0.2
  - android-22 # Android platform used by your alternative emulator
  - android-25
  - sys-img-armeabi-v7a-android-22

  #Extras
  - extra-android-m2repository
  - extra-google-m2repository  # Removed duplicated component

before_script:
  - android list targets
  - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew test
  - ./gradlew connectedAndroidTest
script: "./travis-build.sh"